.app{
  width: 620px;
  height: 680px;
  margin-left: 30%;
  margin-top: 20px;
  background-color: #FFFFFF;
}

.card-div{
  width: 86%;
  height: 550px;
  margin-left: 40px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}